
</div>
	<div class="footer-padding"></div>
  		<div class="footer">
    		<% 
            	var currentTime = new Date();
            	var year = currentTime.getFullYear();
        	%>
        	<p>Copyright &copy; <%= year %></p>
  	</div>
	</div>
</body>
</html>
