.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 16px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: midnightblue !important;
}

.navbar-default {
    background-color: rgba(25, 25, 112, 0.296);
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: midnightblue;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
    color: #fff;
}

.compose-form input, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid midnightblue;
    border-radius: 5px;
    resize: vertical;
    font-size: 20px;
}

.compose-form textarea{
    font-size: 16px;
}

.compose-form label {
    padding: 16px 12px 0 0;
    display: inline-block;
    font-size: 22px;
    color: midnightblue;
}

.compose-form input:focus, textarea:focus {
    box-shadow: 0 0 50px 2px midnightblue;
}

.compose-form button {
    color: whitesmoke;
    padding: 10px;
    font-size: 16px;
    border: 2px solid midnightblue;
    border-radius: 8px;
    background-color: rgba(25, 25, 112, 0.633);
    transition: 0.5s;
    margin-top: 6px;
}

.compose-form button:hover {
    background-color: whitesmoke;
    color: midnightblue;
    transition: 0.5s;
}